@model MusicFall2016.Models.Album

@{ ViewBag.Title = "Edit Album"; }

<h2>Edit Album</h2>
<div class="form">

    <form asp-action="Edit" class="form-horizontal">
        <input type="hidden" asp-for="AlbumID" />
        <div class="form-group">
            <label asp-for="Title" class="col-sm-2 sontrol-label"></label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control" autofocus />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ArtistID, "Artist", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ArtistID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArtistID, "", new { @class = "text-danger" })
                    <span asp-validation-for="Artist" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GenreID, "Genre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenreID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GenreID, "", new { @class = "text-danger" })
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
            <div class="form-group">
                <label asp-for="Price" class="col-sm-2 sontrol-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Price" class="form-control" autofocus />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Edit" class="btn-success btn-lg" />
                        <a class="btn btn-default" href="http://localhost:2264/Album">Back To list</a>
                    </div>
                </div>
            </div> 
        </div>
    </form>
    </div>

